{% load staticfiles %}

<div class="container">
<div class="row" style="box-align:center">
    <div class='col-md-12 col-md-offset-3'>
      <div class="img-thumbnail">

        <h1><a href="{% url 'users:post_create' %}" class="highlight">Place Ads Here</a></h1>



        <img src="{{ thumb }}" alt="Image Not Found" class="img-thumbnail"><br>
        <img src="{{ advert }}" alt="Image Not Found" class="img-thumbnail">
          <h2>{{ image.title }}</h2>

          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
      <br>
    </div>
</div>
</div>
