
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block styles %}
    <style>
    .jumbotron {
      text-align: center;


    }


    </style>

{% endblock %}

{% block title %}Home | {{ block.super }}{% endblock %}



{% block jumbotron %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <h6 id="different" class="display-4">Advertise your product(s) to the world on our products platform. If you want your product(s) uploaded on our products page, click  <a class="prod" href="{% url 'contact' %}">Here</a> to contact us.
          </h6>
      </div>
    </main>
{% endblock %}




{% block post %}
    {% include 'users/alerts.html' %}

<div class="container">
<div class="row">
  {% for p in posts %}
    <div class="col-md-12">
      <div id="height1" class="img-thumbnail">
          {% if p.image %}

             <div id="height2" class="img-responsive">
                <a id="immm" href="{{ p.get_absolute_url }}">
                    <div id="imm">
                        <img id="ibbb" src="{{ p.image.url }}" alt="Image Not Found" class="img-thumbnail">
                    </div>

                </a>

            </div>
        {% endif %}
        <br>

        <div>

        <h4 class="info"><a href="{{ p.get_absolute_url }}">{{ p.title|linebreaks }}</a></h4><br>

        <p style="text-align:center"> {{ p.snippet }} </p><br>

        <p id="fix"><small>Posted by: {{ p.author|capfirst }} | {{ p.created }}</small></p><br>
        </div>
      </div> <!-- you can use style="float:right" inside of the small tag to float the element right-->
      <br>
    </div>
  {% empty %}
      <div class="container-fluid">
        <h3>No Posts Found having search query "{{ request.GET.q }}"</h3>
      </div>

  {% endfor %}
</div>
</div>


<ul class="pagination">
  {% if posts.has_previous %}
    <li class="page-item">
      <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
    </li>
  {% endif %}

  {% for p in page_range %}
    {% if posts.number == p %}
      <li class="page-item active">
        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
      </li>
    {% else %}
      <li class="page-item">
        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% if posts.has_next %}
    <li class="page-item">
      <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
    </li>
  {% endif %}
</ul>


{% endblock %}


{% block script %}
    <script type="text/javascript">
      var myImage = document.getElementById("image");
      var x = document.getElementById("image").getAttribute("data-url");
      var y = document.getElementById("image1").getAttribute("data-url");
      var arrayImage = [x, y];
      var imageIndex = 0;


      function changeImage(){
        myImage.setAttribute("src", arrayImage[imageIndex]);
        imageIndex++;

        if(imageIndex >= arrayImage.length){
          imageIndex = 0;
        }


      }

      setInterval(changeImage, 3000);
    </script>
{% endblock %}



{% block content %}




{% endblock %}
