{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %}
    <style>
    .jumbotron {
      text-align: center;
      height: 10px;
    }
    
    </style>
    
{% endblock %}

{% block title %}Edit Profile | {{ block.super }}{% endblock %}



{% block jumbotron %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      </div>
    </main>
{% endblock %}



{% block content %}
<div class="container">
	        <!-- Example row of columns -->
	        
		        <div class="row">
		            <div class='col-md-6 col-md-offset-3'">
		          	    <div class="articles">
		          		        <div class="article">

								  <form action="." method="post" enctype="multipart/form-data">
								    {% csrf_token %}
								    {{ user_form|crispy }}
								    {{ profile_form|crispy }}
								    <input type="submit" value="Save Changes" class="btn btn-outline-success">
								  </form>

        </div>
		                </div>
		            </div>
	            
	                   
	        </div>

	        <hr>

	      </div>
{% endblock %}


