{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block jumbotron %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Login</h1>
        </div>
      </div>
    </main>
{% endblock %}


{% block container %}
      <div class="container">
          <!-- Example row of columns -->
          
            <div class="row">
                <div class='col-md-6 col-md-offset-3'">
                    <div class="articles">
                          <div class="article">
                                      {% if confirm_message %}
                                      <p> {{ confirm_message}} </p> <!-- title and confirm msg in contacts views.py --> 
                                      {% endif %}

                                      {% if form %}
                                          <form method="post">
                                              {% csrf_token %}
                                              {{ form|crispy }}
                                              {% if request.GET.next %}
                                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                                              {% endif %}
                                                <small>
                                                  <a href="{% url 'register' %}">Register</a> |
                                                  <a href="{% url 'password_reset' %}">Forgotten Your Password?</a>
                                                </small>
                                                <br>

                                              <input type="submit" value="Login" class="btn btn-outline-success">
                                              <p>-- OR --</p>
                                              <a href="{% url 'social:begin' 'github' %}">
                                                <button type="button" name="button" class="btn btn-primary">Github</button>
                                              </a>
                                              <a href="{% url 'social:begin' 'google-oauth2' %}">
                                                <button type="button" name="button" class="btn btn-danger">Google+</button>
                                              </a>
                                            </form>
                                      {% endif %}
                            </div>
                    </div>
                </div>
              
                     
          </div>

          <hr>

        </div> <!-- /container -->
{% endblock %}
