{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %}
    <style>

    h1, ul {
      text-align: left;
    }
    </style>
    
{% endblock %}

{% block title %}Change Password {{ block.super }}{% endblock %}

{% block jumbotron %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Change password</h1> 
        </div>
      </div>
    </main>
{% endblock %}


{% block container %}
      <div class="container">
          <!-- Example row of columns -->
          
            <div class="row">
                <div class='col-md-6 col-md-offset-3'">
                    <div class="articles">
                          <div class="article">
                      
                       
                        {% if validlink %}
                          <h3></h3>
                          <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Change password</button>
                          </form>
                        {% else %}
                          <p>
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.
                          </p>
                        {% endif %}
                                  </div>
                    </div>
                </div>
              
                     
          </div>

          <hr>

        </div>
{% endblock %}
