{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %}
    <style>

    h1, ul {
      text-align: left;
    }
    </style>
    
{% endblock %}

{% block title %}Email Sent{{ block.super }}{% endblock %}

{% block jumbotron %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Email Sent</h1> 
        </div>
      </div>
    </main>
{% endblock %}


{% block container %}
      <div class="container">
          <!-- Example row of columns -->
          
            <div class="row">
                <div class='col-md-6 col-md-offset-3'">
                    <div class="articles">
                          <div class="article">
                      <p>
					    We've emailed you instructions for setting your password, if an account exists with the email you entered.
					    You should receive them shortly.
					  </p>
					  <p>
					    If you don't receive an email, please make sure you've entered the address you registered with,
					    and check your spam folder.
					  </p>
                                  </div>
                    </div>
                </div>
              
                     
          </div>

          <hr>

        </div>
{% endblock %}

