{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styles %}
    <style>
    .jumbotron {
    }
    
    </style>
    
{% endblock %}

{% block title %}Report Crime {{ block.super }}{% endblock %}



{% block jumbotron %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Create Post</h1>
        </div>
      </div>
    </main>
{% endblock %}

{% block content %}
<div class="container">
	        <!-- Example row of columns -->
	        
		        <div class="row">
		            <div class='col-md-6 col-md-offset-3'">
		          	    <div class="articles">
		          		        <div class="article">

								  <form method="post" enctype="multipart/form-data">
								    {% csrf_token %}
								    {{ form|crispy }}
								    {{ formset.management_form }}
								    {% for f in formset %}
								      {{ f|crispy }}
								    {% endfor %}
								    <input type="submit" value="Create" class="btn btn-outline-success">
								  </form>

        </div>
		                </div>
		            </div>
	            
	                   
	        </div>

	        <hr>

	      </div>
{% endblock %}
